<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT mainPage ANY>
<!ATTLIST mainPage id ID #REQUIRED>
]>
<root id="-1">
  <mainPage id="1075" key="935615a6-8f60-47e2-8029-ea5f24d74b4f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-15T12:15:02" updateDate="2018-02-15T12:15:02" nodeName="Home" urlName="home" path="-1,1075" isDoc="" nodeType="1069" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1068" nodeTypeAlias="mainPage" isPublished="false">
    <image><![CDATA[umb://media/92600d02e4e94b53a12674903ef45f9e]]></image>
    <about id="1083" key="588a82fb-a012-4193-807c-0ca755e2a99f" parentID="1075" level="2" creatorID="0" sortOrder="0" createDate="2018-02-15T12:27:30" updateDate="2018-02-15T12:27:30" nodeName="Salesforce" urlName="salesforce" path="-1,1075,1083" isDoc="" nodeType="1078" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1077" nodeTypeAlias="about" isPublished="true">
      <aboutUs><![CDATA[Salesforce.com, Inc. (styled in its logo as salesƒorce; abbreviated usually as SF or SFDC) is an American cloud computing company headquartered in San Francisco, California. Though its revenue comes from a customer relationship management (CRM) product, Salesforce also sells commercial applications of social networking through acquisition and internal development.

As of early 2016, it is one of the most highly valued American cloud computing companies with a market capitalization above $61 billion.[3] In August 2017, Salesforce announced that it had reached the $10 billion revenue run rate becoming the first enterprise cloud company to do so.[4]

Its common stock is listed on the New York Stock Exchange with the symbol CRM and is a constituent of the S&P 500 Index.]]></aboutUs>
    </about>
    <home id="1085" key="aeb9f186-5f6a-4503-9098-6f26534318cd" parentID="1075" level="2" creatorID="0" sortOrder="1" createDate="2018-02-15T12:29:39" updateDate="2018-02-15T12:29:39" nodeName="Intro" urlName="intro" path="-1,1075,1085" isDoc="" nodeType="1082" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1081" nodeTypeAlias="home" isPublished="true">
      <image><![CDATA[umb://media/d24d9319d86843d798e450b5f5d21d1c]]></image>
      <description><![CDATA[Salesforce.com, Inc. (styled in its logo as salesƒorce; abbreviated usually as SF or SFDC) is an American cloud computing company headquartered in San Francisco, California. Though its revenue comes from a customer relationship management (CRM) product, Salesforce also sells commercial applications of social networking through acquisition and internal development.

As of early 2016, it is one of the most highly valued American cloud computing companies with a market capitalization above $61 billion.[3] In August 2017, Salesforce announced that it had reached the $10 billion revenue run rate becoming the first enterprise cloud company to do so.[4]

Its common stock is listed on the New York Stock Exchange with the symbol CRM and is a constituent of the S&P 500 Index.]]></description>
    </home>
  </mainPage>
</root>