@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco_Implementation2.Models.HomeViewModel>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @{
    Layout = "../Master.cshtml";
    }
    <link rel="stylesheet" href="/css/main.css"/>
    <section class='col-sm-6'>@Model.Description</section>
    @{var url = Model.Image.Url;}
    <img class='col-sm-4 passpartout' src='@url' />
    <div class="jumbotron col-sm-10"><h1>Custom view rendered from Custom controller</h1></div>

