@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	var selection = Model.Content.Site().FirstChild("mainPage").Children()
						.Where(x => x.IsVisible())
						.OrderBy("Name");
}
<div class="list-group">
	@foreach(var item in selection){
        <a class="list-group-item" href="@item.Url">@item.Name</a>
	}
</div>

