@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var selection = Model.Content.Site().Children()
						.Where(x => x.IsVisible());
}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Exigo template</a>
    </div>
    <ul class="nav navbar-nav">
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
	<a href='/umbraco/#/content'><button class="btn btn-danger navbar-btn">Go to Backoffice</button></a>
    </ul>
  </div>
</nav>
