@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	var selection = Model.Content.Site().Children()
						.Where(x => x.IsVisible());
}
<div class="list-group">
	@foreach(var item in selection){
	    if(item.Name == "Salesforce"){
	        <a class="list-group-item list-group-item-info" href="@item.Url">@item.Name</a>
        }
        else{
            <a class="list-group-item" href="@item.Url">@item.Name</a>
        }
	}
</div>

