@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class='col-sm-12'>
<a href='/salesforce' class='btn btn-info'>Salesforce</a>
<a href='/intro' class='btn btn-info'>Intro</a>
<a href='/umbraco/#/content' class='btn btn-info'>Go to Backoffice</a>
</div>