<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT mainPage ANY>
<!ATTLIST mainPage id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <mainPage id="1075" key="935615a6-8f60-47e2-8029-ea5f24d74b4f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-15T12:15:02" updateDate="2018-02-15T17:44:26" nodeName="Home" urlName="home" path="-1,1075" isDoc="" nodeType="1069" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1068" nodeTypeAlias="mainPage" isPublished="true">
    <image><![CDATA[umb://media/92600d02e4e94b53a12674903ef45f9e]]></image>
    <home id="1087" key="8f59e826-54c0-49ad-a1ae-d4b3ad372f83" parentID="1075" level="2" creatorID="0" sortOrder="0" createDate="2018-02-15T16:47:23" updateDate="2018-02-15T17:56:53" nodeName="Salesforce" urlName="salesforce" path="-1,1075,1087" isDoc="" nodeType="1082" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1081" nodeTypeAlias="home" isPublished="true">
      <image><![CDATA[umb://media/d24d9319d86843d798e450b5f5d21d1c]]></image>
      <description><![CDATA[Salesforce.com, Inc. (styled in its logo as salesƒorce; abbreviated usually as SF or SFDC) is an American cloud computing company headquartered in San Francisco, California. Though its revenue comes from a customer relationship management (CRM) product, Salesforce also sells commercial applications of social networking through acquisition and internal development.

As of early 2016, it is one of the most highly valued American cloud computing companies with a market capitalization above $61 billion.[3] In August 2017, Salesforce announced that it had reached the $10 billion revenue run rate becoming the first enterprise cloud company to do so.[4]

Its common stock is listed on the New York Stock Exchange with the symbol CRM and is a constituent of the S&P 500 Index.]]></description>
      <testField>45</testField>
    </home>
    <about id="1088" key="11ce3536-8bfe-4f89-a2d7-f22340ebfa93" parentID="1075" level="2" creatorID="0" sortOrder="1" createDate="2018-02-15T16:48:44" updateDate="2018-02-15T16:48:44" nodeName="About us" urlName="about-us" path="-1,1075,1088" isDoc="" nodeType="1078" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1077" nodeTypeAlias="about" isPublished="true">
      <aboutUs><![CDATA[Who we are
Andersen is a custom software development company with 440+ professionals, who know how to transform business issues into software solutions for mobile, desktop and web. We are the place where digital technologies of the future are implemented today.]]></aboutUs>
    </about>
  </mainPage>
  <mainPage id="1087" key="7344d50f-f1ee-459a-af50-de125de6304c" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-02-15T16:47:45" updateDate="2018-02-15T17:20:54" nodeName="Home (Russian)" urlName="home-russian" path="-1,1087" isDoc="" nodeType="1069" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1068" nodeTypeAlias="mainPage" isPublished="true">
    <image><![CDATA[umb://media/92600d02e4e94b53a12674903ef45f9e]]></image>
  </mainPage>
</root>