<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT mainPage ANY>
<!ATTLIST mainPage id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT startPage ANY>
<!ATTLIST startPage id ID #REQUIRED>
]>
<root id="-1">
  <startPage id="1092" key="3634e51d-0f0d-497f-af24-7389b21d9ac8" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-16T13:09:57" updateDate="2018-02-16T17:17:51" nodeName="Start page" urlName="start-page" path="-1,1092" isDoc="" nodeType="1091" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1090" nodeTypeAlias="startPage" isPublished="true">
    <image><![CDATA[umb://media/92600d02e4e94b53a12674903ef45f9e]]></image>
    <mainPage id="1075" key="935615a6-8f60-47e2-8029-ea5f24d74b4f" parentID="1092" level="2" creatorID="0" sortOrder="1" createDate="2018-02-15T12:15:02" updateDate="2018-02-16T17:20:48" nodeName="Home" urlName="home" path="-1,1092,1075" isDoc="" nodeType="1069" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1068" nodeTypeAlias="mainPage" isPublished="true">
      <image><![CDATA[umb://media/92600d02e4e94b53a12674903ef45f9e]]></image>
      <about id="1083" key="588a82fb-a012-4193-807c-0ca755e2a99f" parentID="1075" level="3" creatorID="0" sortOrder="9" createDate="2018-02-15T12:27:30" updateDate="2018-02-16T17:20:48" nodeName="About Salesforce" urlName="about-salesforce" path="-1,1092,1075,1083" isDoc="" nodeType="1078" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1077" nodeTypeAlias="about" isPublished="true">
        <aboutUs><![CDATA[Salesforce.com, Inc. (styled in its logo as salesƒorce; abbreviated usually as SF or SFDC) is an American cloud computing company headquartered in San Francisco, California. Though its revenue comes from a customer relationship management (CRM) product, Salesforce also sells commercial applications of social networking through acquisition and internal development.

As of early 2016, it is one of the most highly valued American cloud computing companies with a market capitalization above $61 billion.[3] In August 2017, Salesforce announced that it had reached the $10 billion revenue run rate becoming the first enterprise cloud company to do so.[4]

Its common stock is listed on the New York Stock Exchange with the symbol CRM and is a constituent of the S&P 500 Index.]]></aboutUs>
        <rating>45</rating>
      </about>
      <home id="1085" key="aeb9f186-5f6a-4503-9098-6f26534318cd" parentID="1075" level="3" creatorID="0" sortOrder="10" createDate="2018-02-15T12:29:39" updateDate="2018-02-16T17:20:48" nodeName="Home Salesforce with image" urlName="home-salesforce-with-image" path="-1,1092,1075,1085" isDoc="" nodeType="1082" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1081" nodeTypeAlias="home" isPublished="true">
        <image><![CDATA[umb://media/d24d9319d86843d798e450b5f5d21d1c]]></image>
        <description><![CDATA[Salesforce.com, Inc. (styled in its logo as salesƒorce; abbreviated usually as SF or SFDC) is an American cloud computing company headquartered in San Francisco, California. Though its revenue comes from a customer relationship management (CRM) product, Salesforce also sells commercial applications of social networking through acquisition and internal development.

As of early 2016, it is one of the most highly valued American cloud computing companies with a market capitalization above $61 billion.[3] In August 2017, Salesforce announced that it had reached the $10 billion revenue run rate becoming the first enterprise cloud company to do so.[4]

Its common stock is listed on the New York Stock Exchange with the symbol CRM and is a constituent of the S&P 500 Index.]]></description>
      </home>
      <about id="1095" key="345594d8-812a-4018-b1b7-1fb708c34fa8" parentID="1075" level="3" creatorID="0" sortOrder="11" createDate="2018-02-16T15:10:30" updateDate="2018-02-16T17:20:48" nodeName="About Umbraco" urlName="about-umbraco" path="-1,1092,1075,1095" isDoc="" nodeType="1078" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1077" nodeTypeAlias="about" isPublished="true">
        <aboutUs><![CDATA[Umbraco is a fully-featured, open source Content Management System loved by thousands for its flexibility and great editing experience. Use Umbraco for free and install, setup and host it yourself or let us take care of all of that for you on Umbraco Cloud. You get a free 14 day trial and if you get hooked, prices start from just $30/month.]]></aboutUs>
        <rating>91</rating>
      </about>
    </mainPage>
  </startPage>
  <startPage id="1103" key="f962d9e9-8041-47c8-adb4-bca50399b9d1" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-02-16T16:30:06" updateDate="2018-02-16T17:17:51" nodeName="Start page (Russian)" urlName="start-page-russian" path="-1,1103" isDoc="" nodeType="1091" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1090" nodeTypeAlias="startPage" isPublished="true">
    <image><![CDATA[umb://media/92600d02e4e94b53a12674903ef45f9e]]></image>
    <mainPage id="1087" key="7344d50f-f1ee-459a-af50-de125de6304c" parentID="1103" level="2" creatorID="0" sortOrder="1" createDate="2018-02-15T16:47:45" updateDate="2018-02-16T17:20:58" nodeName="Home (Russian)" urlName="home-russian" path="-1,1103,1087" isDoc="" nodeType="1069" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1068" nodeTypeAlias="mainPage" isPublished="true">
      <image><![CDATA[umb://media/92600d02e4e94b53a12674903ef45f9e]]></image>
      <about id="1088" key="58d48fc9-5a88-4d0f-beee-346d1dd19f2d" parentID="1087" level="3" creatorID="0" sortOrder="9" createDate="2018-02-15T16:47:45" updateDate="2018-02-16T17:46:29" nodeName="Про Salesforce" urlName="про-salesforce" path="-1,1103,1087,1088" isDoc="" nodeType="1078" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1077" nodeTypeAlias="about" isPublished="true">
        <aboutUs><![CDATA[Salesforce.com — американская компания, разработчик одноимённой CRM-системы, предоставляемой заказчикам исключительно по модели SaaS. Под наименованием Force.com компания предоставляет PaaS-платформу для самостоятельной разработки приложений, а под брендом Database.com — облачную систему управления базами данных.

Компания основана в марте 1999 года Марком Бениоффом (англ. Marс Benioff), Паркером Харрисом (англ. Parker Harris), Дэйвом Мёленхоффом (англ. Dave Moellenhoff) и Френком Домингесом (англ. Frank Dominguez) с изначальной идеей специализации на рынке CRM-систем и предоставления доступа к ним исключительно как услуги по подписке, располагая все экземпляры системы в собственных центрах обработки данных, полностью исключая установки систем у заказчиков и обеспечивая доступ конечных пользователей к системам через веб[2]. Компания признана одним из пионеров SaaS, PaaS, облачных вычислений[3][4], с 2012 года является мировым лидером рынка CRM-систем[5].

Штаб-квартира компании расположена в Сан-Франциско, региональные офисы расположены в 25 странах.]]></aboutUs>
        <rating>45</rating>
      </about>
      <home id="1089" key="b6251e18-3afe-4749-9e4e-79d59887d6ff" parentID="1087" level="3" creatorID="0" sortOrder="10" createDate="2018-02-15T16:47:45" updateDate="2018-02-16T17:20:58" nodeName="Главная Salesforce с картинкой" urlName="главная-salesforce-с-картинкой" path="-1,1103,1087,1089" isDoc="" nodeType="1082" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1081" nodeTypeAlias="home" isPublished="true">
        <image><![CDATA[umb://media/d24d9319d86843d798e450b5f5d21d1c]]></image>
        <description><![CDATA[Salesforce.com — американская компания, разработчик одноимённой CRM-системы, предоставляемой заказчикам исключительно по модели SaaS. Под наименованием Force.com компания предоставляет PaaS-платформу для самостоятельной разработки приложений, а под брендом Database.com — облачную систему управления базами данных.

Компания основана в марте 1999 года Марком Бениоффом (англ. Marс Benioff), Паркером Харрисом (англ. Parker Harris), Дэйвом Мёленхоффом (англ. Dave Moellenhoff) и Френком Домингесом (англ. Frank Dominguez) с изначальной идеей специализации на рынке CRM-систем и предоставления доступа к ним исключительно как услуги по подписке, располагая все экземпляры системы в собственных центрах обработки данных, полностью исключая установки систем у заказчиков и обеспечивая доступ конечных пользователей к системам через веб[2]. Компания признана одним из пионеров SaaS, PaaS, облачных вычислений[3][4], с 2012 года является мировым лидером рынка CRM-систем[5].

Штаб-квартира компании расположена в Сан-Франциско, региональные офисы расположены в 25 странах.]]></description>
      </home>
      <about id="1096" key="f9d5ea8a-4a19-46f4-9b4a-ef63f6e96b93" parentID="1087" level="3" creatorID="0" sortOrder="11" createDate="2018-02-16T15:10:31" updateDate="2018-02-16T17:20:58" nodeName="Про Umbraco" urlName="про-umbraco" path="-1,1103,1087,1096" isDoc="" nodeType="1078" creatorName="UMBARCO" writerName="UMBARCO" writerID="0" template="1077" nodeTypeAlias="about" isPublished="true">
        <aboutUs><![CDATA[Ну в общем Умбрако - єто такая себе штука... Которая умеет типа работать с контентом. Но на самом деле она ПОЛНОСТЬЮ контролирует ваш сайт]]></aboutUs>
        <rating>91</rating>
      </about>
    </mainPage>
  </startPage>
</root>