@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class='col-sm-6'>@Umbraco.Field("aboutUs", convertLineBreaks: true)</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

<div id="container" class='col-sm-4'></div>


<script>
function renderIcons() {

            // Move icon
            if (!this.series[0].icon) {
                this.series[0].icon = this.renderer.path(['M', -8, 0, 'L', 8, 0, 'M', 0, -8, 'L', 8, 0, 0, 8])
                    .attr({
                        'stroke': '#303030',
                        'stroke-linecap': 'round',
                        'stroke-linejoin': 'round',
                        'stroke-width': 2,
                        'zIndex': 10
                    })
            }
            this.series[0].icon.translate(
                this.chartWidth / 2 - 10,
                this.plotHeight / 2 - this.series[0].points[0].shapeArgs.innerR -
                    (this.series[0].points[0].shapeArgs.r - this.series[0].points[0].shapeArgs.innerR) / 2
            );
        }

            Highcharts.chart('container', {
            chart: {
                type: 'solidgauge',
                height: '100%',
                events: {
                    render: renderIcons
                },
                height:230,
                spacing: [0, 10, 0, 10]
            },

            title: {
                text: ''
            },

            tooltip: {
                borderWidth: 0,
                backgroundColor: 'none',
                shadow: false,
                pointFormat: '',
            },
            pane: {
                startAngle: 0,
                endAngle: 360,
                background: [{ // Track for Next Rank
                    outerRadius: '100%',
                    innerRadius: '80%',
                    backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[1])
                        .setOpacity(0.3)
                        .get(),
                    borderWidth: 0
                }]
            },

            yAxis: {
                min: 0,
                max: 100,
                lineWidth: 0,
                tickPositions: []
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        enabled: true,
                        borderWidth: 0,
                        style: {
                            fontSize: '36px'
                        },
                        format: '<span style="font-size:2em; color: {point.color}; font-weight: bold">{point.y}%</span>',
                        y: -15
                    },
                    linecap: 'round',
                    stickyTracking: false,
                    rounded: true
                }
            },

            series: [{
                name: 'Rank Advancement',
                data: [{
                    color: 'grey',
                    radius: '100%',
                    innerRadius: '80%',
                    y: @(Decimal.Parse(Umbraco.Field("rating").ToString())),
                }]
            }]
        });
</script>