@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MainPage>

@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<link rel='stylesheet' href='/css/main.css'/>
<div class='jumbotron main-page'><h1 text-align='center'>Welcome!</h1></div>