@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="main.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class='containter'>
    <div class='col-sm-12 alert alert-warning'>
        Text here to take some space in the top of a page
    </div>
@Html.Partial("Navigation/CustomTopNavigation")
<div class='col-sm-2'>
    @Html.Partial("Navigation/CustomSubNavigation")
</div>
<div class='col-sm-10'>
@RenderBody()
</div>
</div>