<?xml version="1.0" encoding="utf-8" ?>
<translations
  scheduleCheckPeriod="180"  backgroundCheck="True" autoTranslate="True">
  <!-- scheduleCheckPeriod - how often (in seconds) we check to see if submitted jobs
                              have been updated by services -->
  <config>
    
  </config>
  <providers>
    <!-- 
      Any settings for the providers can be loaded here
    
      Settings are loaded at startup, you will need to restart umbraco 
      (i.e. touch the web.config) to get settings from the file loaded   
      
      some providers may let you configure these settings in the back office
      but they will need write permissions to this file for that to work. 
    -->
  </providers>
</translations>